html,
body {
    background-color: rgb(236, 236, 236);
    margin: 0;
    padding: 0;
}

.header-row {
    position: relative;
}

.whitestrip {
    height: 4em;
    position: relative;
    margin-top: 26px;
}

.headerrow {}

.logoimg {
    height: 105px;
    width: 105px;
    position: relative;
    bottom: 82px;
    z-index: 1000;
}