li {
    list-style-type: none;
}
section {
    align: center;
}

label {
    vertical-align: top;
}

h1 {
    font-family: Verdana;
    font-style: oblique;
    color: cornflowerblue;
    text-shadow: 2px 2px 5px black;
}

html, body {
    height: 100%;
    background: linear-gradient(to bottom, whitesmoke, teal);
    box-shadow: 6px 6px 7px black;
}

#Email, #Password {
    box-shadow: -1px -1px black;
}

#Bio{
    box-shadow: 1px 1px 3px black;
}
