li {
    list-style-type: none;
}
section {
    display: flex;
}

label {
    vertical-align: top;
}

h1 {
    font-family: Verdana;
    font-style: oblique;
    color: cornflowerblue;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}

html, body {
    height: 100%;
    background: linear-gradient(to bottom, whitesmoke, teal);
    box-shadow: 6px 6px 7px black;
}

#registration {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Email, #Password {
    box-shadow: -1px -1px black;
}

#Bio{
    box-shadow: 1px 1px 3px black;
}

input[type=submit] {
    background-color: linen;
    border: none;
    color: black;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]:hover {
    opacity: 0.8;
}
