
body {

}

.flash {
    background:blue;
    -webkit-transition:background 5s;
    -moz-transition:background 5s;
    -o-transition:background 5s;
    transition:background 5s
}

.flyAcross {
    position: relative;
    right: 500px
}

.hideFrame {
    display: none;
}

.hideBigFrame {
    display: none;
}

.doge {
    position: fixed;
}

.snoop {
    position: relative;
    bottom: 388px
}

.bigWow {
    height: 90%;
    width: 90%;
}

#contentCenter {


}

#yayUnlock {

}