
body {
    width: 97%;
    height: 100%;
}

.alert-info {
    width: 90%;
    text-align: center;
    background-color: lightcyan;
    padding: 1em;
    border: 1px solid darkgrey;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.nav-links {
    width: 95%;
    font-size: 1em;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    background-color: lightgray;
    padding: 1em;
    margin: 0.5em;
    width: 90%;
}

.header-img img {
    width: 93%;
    margin: 0.5em;
}


.sub-section {
    font-style: italic;
}

footer {
    position: relative;
    height: 13em;
}

footer p {
    position: absolute;
    vertical-align: bottom;
    bottom: 0;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
}

.fa-google {
    background: #dd4b39;
    color: white;
    border-radius: 50%;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 50%;
}

#social-media-links {

}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) { /* ... */ }

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) {


    body {
        margin: 0px 15px;
    }

    h1 {
        position: relative;
        display: inline;
        top: 20px;
    }



    .hidden-on-desktop {
        background-color: #FFFFFF;
        border: none;
        color: #FFFFFF;
        position: relative;
        top: -300px;
    }

    .nav-links {
        list-style-type: none;
        display: inline;
        float: right;
        text-align: right;
        margin-bottom: 2em;
    }

    .nav-links li {
        display: inline;
        padding-bottom: 2em;
        background-color: #FFFFFF;
        font-size: 1.1em;
    }

    .header-img {
        margin: auto;
        align-content: center;
        width: 90%;
    }

    .main {
        width: 70%;
        display: inline-block;
        float: left;
    }

    .sub-section {
        font-style: italic;
        width: 25%;
        display: inline-block;
    }

    footer {
        position: relative;
        vertical-align: bottom;
        width: 100%;
        height: 10em;
        bottom: 0;
        margin-right: 0;
    }

    footer p {
        position: absolute;
        vertical-align: bottom;
        bottom: 0;

    }



    #social-media-links {
        float: right;
        margin-top: 85px;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }



