
body {
    width: 100%;
}

.alert-info {
    width: 90%;
    text-align: center;
    background-color: lightcyan;
    padding: 1em;
    border: 1px solid darkgrey;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.nav-links {
    width: 100%;
    font-size: 1em;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    background-color: lightgray;
    padding: 1em;
    margin: 1em;
    width: 95%;
}

.header-img img {
    width: 90%;
    margin: 1em;
}

.sub-section {
    font-style: italic;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) { /* ... */ }

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) {


    h1 {
        position: relative;
        display: inline;
        top: 20px;
    }

    

    .hidden-on-desktop {
        background-color: #FFFFFF;
        border: none;
        color: #FFFFFF;
        position: relative;
        top: -300px;
    }

    .nav-links {
        list-style-type: none;
        display: inline;
        float: right;
        text-align: right;
        margin-bottom: 2em;
    }

    .nav-links li {
        display: inline;
        padding-bottom: 2em;
        background-color: #FFFFFF;
        font-size: 1.1em;
    }

    .header-img {
        margin: auto;
        align-content: center;
        width: 90%;
    }

    .main {
        width: 50%;
        display: inline-block;
        float: left;
    }

    .sub-section {
        font-style: italic;
        width: 50%;
        display: inline-block;
    }

    footer {
        vertical-align: bottom;
        width: 100%;
        height: 400px;
    }

    footer p {
        vertical-align: bottom;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }



