* {
    box-sizing: border-box;
}




html,
body {
    height: 100%;
    margin: 0 4em;
    background-color: #dddddd;
}

main {
    background-color: white;
    height: 1000px;
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    vertical-align: middle;
}



/*   Column and Row section for Grid Layout */


.row    {
    width:100%;
}

.column {
    float: left;
    /* border: 1px solid black;
    background-color: #dddddd; */
}

.one-half {
    width: 50%;
}

.one-third {
    width: calc(33.33%  - 10px);
}

.one-fourth {
    width: calc(25% - 10px);
}

.one-sixth {
    width: calc(16.66% - 10px);
}

.one-eighth {
    width: calc(12.5% - 10px);
}

.two-third {
    width: calc(66.66% - 10px);
}

.three-fourth {
    width: 75%;
}

.fullcol {
    width: calc(100% - 20px)
}


/* Main Styling Section */


li a {
    text-decoration: none;
    color: white;
}

.nav {
    background-color: black;
    height: 100vh;
}

.logo {
    color: white;
    text-align: center;
    margin-top: 60px;
}

.directory {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin-top: 130px
}

.directory li {
    padding: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.aboutpage {
    background-color: rgb(81, 102, 116);
    text-align: center;
    height: 100vh;
    color: rgb(255, 255, 255);
}

.aboutpics {
    width: 40%;
    margin: 50px 0;
}

.aboutpage p {
    margin: auto;
    text-align: left;
    padding: 0 30px;
    margin-bottom: 10px;
}


.mywork {
    justify-content: center;
    background-color: rgb(234, 234, 234);
    height: 100vh;
}


.mywork h1 {
    text-align: center;
    margin-top: 60px;
}

.mywork h4 {
    text-align: center;
}

.workpics {
    margin: 0;
    width: 100%;
}

.resume {
    background-color: rgb(50, 61, 160);
    height: 100vh;
}

.resume h4 {
    color: white;
    text-align: center;
}

td, th {
    padding: 10px;
    text-align: left;
    border: 0;
}

tr:nth-child(odd) {
    color: white;
}

tr:nth-child(even) {
    background-color: white;
}

.swingby {
    background-color: rgb(74, 74, 74);
    height: 100vh;
}

.swingby h1 {
    margin-bottom: 200px;
}

.swingby p {
    color: #FFFFFF;
    text-align: center;
}


.contact {
    background-color: rgb(53, 131, 117);
    height: 100vh;
}

.contact h1 {
    text-align: left;
    padding-left: 10px;
}


@media screen and (max-width: 600px) {

    .column.one-third,
    .column.one-half,
    .column.one-sixth,
    .column.one-eighth,
    .column.one-fourth,
    .column.three-fourth,
    .column.two-third {
        width: 100%;
    }
    html,
    body {
        margin: 0;
    }
}