body {
    height: 100%;
    background: linear-gradient(45deg, cornflowerblue, mediumseagreen),linear-gradient(142deg, lightseagreen, lightsteelblue),linear-gradient(108deg, seagreen, slateblue), no-repeat center center fixed;
}


header {
    margin-bottom: 30px;
}

h1 {
    text-shadow: 2px 2px 5px lightcyan;
}

h3 {
    text-shadow: 1px 1px black, 2px 2px 5px lightsteelblue;
}

.firstBlock, .secondBlock, .thirdBlock, .fourthBlock {
    height: 100px;
    width: 25%;
    margin: 10px;
    box-shadow: 5px 5px 5px black;
    border-radius: 10%;
}

.simonBlocks:hover {
    border: 3px solid black;
}

.firstBlock {
    background-color: blue;
}

.firstBlock-active {
    border: 1px solid black;
    opacity: 0.5;
}

.secondBlock {
    background-color: red;

}

.secondBlock-active {
    border: 1px solid black;
    opacity: 0.5;
}

.thirdBlock {
    background-color: yellow;
}

.thirdBlock-active {
    border: 1px solid black;
    opacity: 0.5;
}

.fourthBlock {
    background-color: green;
}

.fourthBlock-active {
    border: 1px solid black;
    opacity: 0.5;
}

.centering {
    border: 7px solid black;
    width: 100%;
    padding: 0;
    background: linear-gradient(to bottom, aliceblue, lightsteelblue);
    float: none;
    margin: 0 auto;
    border-radius: 15%;
    box-shadow: 0 0 31px black;
}

.btn {
    color: black;
    background: linear-gradient(to top, orangered, palevioletred);
    box-shadow: 2px 1px 3px black;
    text-shadow: 1px 1px 3px whitesmoke;
}

.btn:hover {
    opacity: 0.8;
}

.simon-container {
    margin-left: 10px;
}

.win {
    color: greenyellow;
}

@media (min-width: 576px) {

    .firstBlock, .secondBlock, .thirdBlock, .fourthBlock {
        height: 200px;
        width: 200px;
        margin: 10px;
        box-shadow: 5px 5px 5px black;
        border-radius: 10%;
    }

    .centering {
        border: 7px solid black;
        max-width: 482px;
        min-width: 482px;
        padding: 0;
        background: linear-gradient(to bottom, aliceblue, lightsteelblue);
        float: none;
        margin: 0 auto;
        border-radius: 15%;
        box-shadow: 0 0 31px black;
    }

}