body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    background-color: #dddddd;
}

button {
    background-color: darkslategray;
    color: white;
    width: 95%;
    padding: 1em;
    margin-right: 10px;
}

input, label {
    display:block;
}

form {
    margin: auto;
    width: 100%;
}

footer {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 5em;
}

.top-nav {
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #FFFFFF;
}

.nav {
    margin: 0;
    font-size: 1.5em;
    list-style-type: none;
    overflow: hidden;
    padding: 20px;
    width: 94%;
    display: inline-block;
}

.nav-item {
    float: left;
}

.nav-item2 {
    float: right;
    text-decoration: none;
    color: black;
}

.art {
    width: 100%;
}



.leftimgs {
    width: 100%;
    padding: 0;
    margin: 0;
}

.aboutsection {
    margin: auto;
    text-align: center;
    clear: both;
}

.aboutsection h1 {
    position: relative;
    top: 100px;
}

.aboutsection img {
    align-content: center;
    width: 75%;
    margin-top: 7em;
}



.aboutsection h3 {
    color: red;
}

.aboutsection p {
    margin: 1em;
}

/*
.clearfix {
    content: "";
    display: table;
    clear: both;
}
*/

#name {
    width: 95%;
    margin: 0.5em;
    padding: 1em;
}

#about {
    font-family:"Segoe UI", Arial, sans-serif;
}

#email {
    width: 95%;
    margin: 0.5em;
    padding: 1em;
}

#message {
    width: 95%;
    margin: 0.5em;
    padding: 1em;
}

@media screen and (min-width:992px) {


    .images {
        height: 75em;
    }

    .leftimgs {
        height: 400px;
    }

    .longimg {
        height: 800px;
        position: relative;
    }

    .imgup {
        top: -400px;
    }

    .aboutsection {
        margin: auto;
        width: 50%;
        text-align: center;
        clear: both;
    }

    .aboutsection img {
        width: 50%;
    }

    .aboutsection p {
        margin: 1em 3em;
    }

    #name {
        width: 95%;
        margin-bottom: 1em;
        padding: 1em;
    }


    #email {
        width: 95%;
        margin-bottom: 1em;
        padding: 1em;
    }

    #message {
        width: 95%;
        margin-bottom: 1em;
        padding: 1em;
    }


}