body {
    margin: 0;
    padding: 0;
    height: 1600px;
    font-family: Raleway, sans-serif;
    background-color: #dddddd;
}

button {
    background-color: darkslategray;
    color: white;
    width: 100%;
    padding: 1em;
}

input, label {
    display:block;
}

form {
    margin: auto;
    width: 100%;
}

footer {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 5em;
}

.top-nav {
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: #FFFFFF;
}

.nav {
    margin: 0;
    font-size: 1.5em;
    list-style-type: none;
    overflow: hidden;
    padding: 20px;
    width: 94%;
}

.nav-item {
    float: left;
}

.nav-item2 {
    float: right;
    text-decoration: none;
}

.art {
    float: left;
    width: 50%;
}

.images {

}

.leftimgs {
    vertical-align: middle;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}
/*
.rightimgs {
    float: right;
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;
}
*/
@media only screen and (max-width: 700px) {
    .art {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 600px) {
    .art {
        width: 100%;
    }
}

.aboutsection {
    margin: auto;
    width: 50%;
    text-align: center;
    clear: both;
}

.aboutsection h1 {
    position: relative;
    top: 100px;
}

.aboutsection img {
    align-content: center;
    width: 50%;
    margin-top: 7em;
}

.aboutsection p {
    margin: 1em 3em;
}

.aboutsection h3 {
    color: red;
}


/*
.clearfix {
    content: "";
    display: table;
    clear: both;
}
*/

#name {
    width: 95%;
    margin-bottom: 1em;
    padding: 1em;
}

#about {
    font-family:"Segoe UI", Arial, sans-serif;
}

#email {
    width: 95%;
    margin-bottom: 1em;
    padding: 1em;
}

#message {
    width: 95%;
    margin-bottom: 1em;
    padding: 1em;
}